.container .slice {
  transition-duration: 0.3s;
  transition-property: filter, opacity;
  filter: saturate(100%);
  opacity: 1;
  cursor: pointer;
  border-radius: 50%;
  stroke: white;
}

.label {
  user-select: none;
  pointer-events: none;
  font-size: 0.9em;
  stroke: none;
}

.container.hasHighlight .slice {
  filter: saturate(50%);
  opacity: 0.9;
}

.container.hasHighlight .slice:hover {
  filter: saturate(100%);
  opacity: 1;
}
