.wheel {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--border-color);
  border: var(--border-size) solid var(--border-color);
  position: relative;
  /* overflow: hidden; */

  transform: rotate(-30deg);
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  clip: rect(0px, var(--size), var(--size), calc(var(--size) / 2));
}

.fill:first-child {
  z-index: 1;
}

.fill::after {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  clip: rect(0px, calc(var(--size) / 2), var(--size), 0px);
  transform: rotate(60deg);
  background-color: var(--bg-color);
}

.line {
  width: var(--size);
  height: var(--border-size);
  background: var(--border-color);
  position: absolute;
  top: calc(var(--size) / 2);
  left: 0;
  z-index: 1;
}

.content {
  padding-top: 20px;
  height: calc(var(--size) - 20px);
  width: var(--size);
  position: absolute;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
}

.label {
  display: block;
  width: 100%;
  z-index: 2;
}

.label:hover {
  cursor: pointer;
  scale: 1.2;
}
